<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Reset Password</title>
  </head>
  <body style='background-color: #f7fafc; font-family: Arial, sans-serif;'>
    <div
      style='max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 4px;'
    >
      <h1 style='font-size: 24px; font-weight: bold; margin-bottom: 20px;'>Reset
        Your Password
      </h1>
      <p style='margin-bottom: 20px;'>Hi {{name}},</p>
      <p style='margin-bottom: 20px;'>We received a request to reset your
        password for your account. Please click the button below to proceed with
        the password reset:
      </p>
      <div style='text-align: center; margin-bottom: 20px;'>
        <a
          href={{link}}
          style='display: inline-block; background-color: #1e40af; color: #ffffff; font-weight: bold; text-decoration: none; padding: 10px 20px; border-radius: 4px;'
        >Reset Password</a>
      </div>
      <p style='margin-bottom: 20px;'>If you didn't request a password reset,
        please ignore this email.
      </p>
      <p style='margin-bottom: 10px;'>Best regards,</p>
    </div>
  </body>
</html>
