<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tailwind CSS Template</title>
    <style>
      /* Global styles */ body { margin: 0; padding: 0; } /* Container styles */
      .container { margin-bottom: 132px; padding: 0 20px; height: 100%; } /*
      Content styles */ .content { text-align: center; color: #2F455C;
      font-size: 1.25rem; font-family: Inter; font-weight: 500; word-wrap:
      break-word; } /* Logo styles */ .logo { width: 214px; margin-top: 77px; }
      /* Button styles */ .button { display: inline-block; text-decoration:
      none; margin-top: 67px; background: #55C38D; border-radius: 20px; padding:
      1.625rem 6rem; border: none; text-align: center; color: white !important;
      font-size: 1.5rem; font-family: Inter; font-weight: 700; word-wrap:
      break-word; } /* URL styles */ .url { display: block; margin-top: 67px;
      text-align: center; color: #55C38D !important; font-size: 1.25rem;
      font-family: Inter; font-style: italic; font-weight: 700; word-wrap:
      break-word; } /* Footer styles */ .footer { background: #55C38D; width:
      100%; padding-top: 21px; padding-bottom: 45px; } /* Footer text styles */
      .footer-text { text-align: center; color: white !important; font-size:
      1.25rem; font-family: Inter; font-weight: 500; word-wrap: break-word; }
      .footer-url { color: white !important; display: inline; text-decoration:
      none !important; }
    </style>
  </head>

  <body>
    <table
      class='container'
      width='100%'
      border='0'
      cellpadding='0'
      cellspacing='0'
    >
      <tr>
        <td align='center'>
          <img
            class='logo'
            src='https://heritance-prod-public-bucket.s3.ap-southeast-1.amazonaws.com/heritance-logo.png'
            alt='Logo'
          />
          <div class='content' style='margin-top: 78px;'>
            <p>Confirm your registration</p>
            <p>You are receiving this email because you've recently registered
              an account with us.</p>
            <p>To confirm, please click on the button below.</p>
            <a class='button' href='https://google.com'>Confirm</a>
            <span class='url'>Or visit the following URL:</span>
            <a
              class='url'
              href='https://google.com'
            >https://inheritance.io/fjsdlfjsifpsfdgi;jfsaifdj</a>
          </div>
        </td>
      </tr>
    </table>

    <table
      class='footer'
      width='100%'
      border='0'
      cellpadding='0'
      cellspacing='0'
    >
      <tr>
        <td align='center'>
          <div class='footer-text'>
            <p>Some important links that you may wish to look at:</p>
            <p><a class='footer-url' href='https://google.com'>Privacy Policy</a>
              |
              <a class='footer-url' href='https://google.com'>Terms of Use</a>
              |
              <a
                class='footer-url'
                href='https://google.com'
              >Unsubscribe</a></p>
          </div>
        </td>
      </tr>
    </table>
  </body>

</html>
